<!-- ====================================
	——— PAGE TITLE SECTION
	===================================== -->
    <section class="pageTitleSection">
      <div class="container">
        <div class="pageTitleInfo">
          <h2 style="text-transform: none;">Blog budoucího pediatra</h2>
          <p style="font-size: 25px; color: white; padding-top:10px">Tereza Filová</p>
        </div>
      </div>
    </section>

	<!-- ====================================
    ——— MAIN SECTION
    ===================================== -->


    <section class="mainContent full-width clearfix">
      <div class="container">
      	<div class="row">

      		<div class="col-sm-12 col-md-12">
      				{{# each data.posts.results}}
      				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
      					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
      					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
      							{{#if author.name.first}}by {{author.name.first}}{{/if}}
      					</p>
      					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
      					<p>{{{content.brief}}}</p>
                <br>
      					{{#if content.extended}}<p class="read-more" style="text-align: left"><b><a href="{{postUrl slug}}">
                  <br><i class="fa fa-angle-double-right" aria-hidden="true"></i>Číst více</a></b></p><br><br><br><br>{{/if}}


              </div>
      				{{/each}}
      		</div>
      	</div>
      	{{>pagination}}
        <iframe style="float:right; margin-top:20px" src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.helenafilova.cz%2Fblog&layout=button&size=large&mobile_iframe=true&appId=1265809760195337&width=73&height=28" width="73" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

      </div>

  </section>
