{{!< default}}

<!-- ====================================
——— PRELOADER
===================================== -->
<!--
	</head>
	<body>
		<div id="preloader" class="smooth-loader-wrapper">
			<div class="smooth-loader">
				<div class="loader">
					<span class="dot dot-1"></span>
					<span class="dot dot-2"></span>
					<span class="dot dot-3"></span>
					<span class="dot dot-4"></span>
				</div>
			</div>
		</div>
	-->
<!--====================================
	——— BANNER
	===================================== -->
	<section class="bannercontainer bannercontainerV1">
		<div class="fullscreenbanner-container">
			<div class="fullscreenbanner">
				<ul>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
						<img src="assets/img/home/slider/slider-1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						<!-- <div class="slider-caption container">
							<div class="tp-caption rs-caption-2 sft text-center"
								data-hoffset="0"
								data-x="center"
								data-y="265"
								data-speed="1000"
								data-start="1500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power1.easeIn"
								data-captionhidden="off">
								Vítejte na stránkách MUDr. Heleny Filové
							</div>

							<div class="tp-caption rs-caption-2 sft"
								data-hoffset="0"
								data-y="265"
								data-speed="1000"
								data-start="1500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power1.easeIn"
								data-captionhidden="off">
								 Kidz is a perfect theme for kindergarten school, very simple <br>
								and easy to use.
							</div>
						</div> -->
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
						<img src="assets/img/home/slider/slider-2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						<!-- <div class="slider-caption container">
							<div class="tp-caption rs-caption-1 sft start text-center"
								data-hoffset="0"
								data-x="center"
								data-y="200"
								data-speed="800"
								data-start="1000"
								data-easing="Back.easeInOut"
								data-endspeed="300">
								Sell Kids Productsa
							</div>

							<div class="tp-caption rs-caption-2 sft text-center"
								data-hoffset="0"
								data-x="center"
								data-y="265"
								data-speed="1000"
								data-start="1500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power1.easeIn"
								data-captionhidden="off">
								All ecommerce features are included with KIDZ <br>
								Build your ecommerce site.
							</div>
						</div> -->
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-3.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						<!-- <div class="slider-caption container">
							<div class="tp-caption rs-caption-1 sft start text-right"
								data-hoffset="0"
								data-y="200"
								data-x="right"
								data-speed="800"
								data-start="1000"
								data-easing="Back.easeInOut"
								data-endspeed="300">
								Impress Your Clients
							</div>

							<div class="tp-caption rs-caption-2 sft text-right"
								data-hoffset="0"
								data-y="265"
								data-x="right"
								data-speed="1000"
								data-start="1500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power1.easeIn"
								data-captionhidden="off">
								Kidz is created for better user experience in mind.
							</div>
						</div> -->
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
						<img src="assets/img/home/slider/slider-4.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						<!-- <div class="slider-caption container">
							<div class="tp-caption rs-caption-1 sft start text-center"
								data-hoffset="0"
								data-x="center"
								data-y="200"
								data-speed="800"
								data-start="1000"
								data-easing="Back.easeInOut"
								data-endspeed="300">
								Bright Playful Colors
							</div>

							<div class="tp-caption rs-caption-2 sft text-center"
								data-hoffset="0"
								data-x="center"
								data-y="265"
								data-speed="1000"
								data-start="1500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power1.easeIn"
								data-captionhidden="off">
								Combination of bright and playful colors will help you <br>
								make users happy.
							</div>
						</div> -->
					</li>

					<li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-4.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-5.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-6.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-7.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-8.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-9.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-10.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-11.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-12.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-13.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-14.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000"  data-title="Slide 3">
						<img src="assets/img/home/slider/slider-15.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
				</ul>
			</div>
		</div>
	</section>

<!--====================================
	——— 4 SEKCE
	===================================== -->
	<section class="clearfix linkSection">
		<div class="sectionLinkArea scrolling">
			<div class="container">
				<div class="row">

					<div class="col-sm-3">
						<a href="/pageOrdinace" class="sectionLink bg-color-1">
							<i class="fa fa-file-text-o linkIcon border-color-1" aria-hidden="true"></i>
							<p style="padding-top:55px; font-size: 20px; color:white"><b>AKTUÁLNÍ INFORMACE</b></p>
							<p> {{{ ordinace.aktualniInformace }}}</p>
						</a>
					</div>

					<div class="col-sm-3 ">
						<a href="/pageOrdinace" class="sectionLink bg-color-2" id="teamLink">
							<i class="fa fa-gg linkIcon border-color-2" aria-hidden="true"></i>
							<p style="padding-top:55px; font-size: 20px; color:white"><b>DOVOLENÁ</b></p>
							<p> {{{ ordinace.dovolenaPopis }}}</p>
						</a>
					</div>

					<div class="col-sm-3 ">
						<a href="/pageOrdinace" class="sectionLink bg-color-3" id="teamLink">
							<i class="fa fa-gg linkIcon border-color-3" aria-hidden="true"></i>
							<p style="padding-top:55px; font-size: 20px; color:white"><b>ORDINAČNÍ HODINY</b></p>
							 <p style="font-size: 15px" id="den"></p>
							 <p style="font-size: 20px" id="dopol"></p>
							 <p style="font-size: 20px" id="odpol"></p>
						</a>
					</div>


					<div class="col-sm-3">
						<a href="/pageOrdinace" class="sectionLink bg-color-4" id="newsLink">
							<i class="fa fa-files-o linkIcon border-color-4" aria-hidden="true"></i>
							<p style="padding-top:75px; font-size: 20px; color:white"><b>Přijímáme nové<br> pacienty!</b></p>
							<i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>

<!--====================================
	——— FEATURE SECTION
	===================================== -->
	<section class="mainContent full-width clearfix featureSection">
		<div class="container">
			<div class="sectionTitle text-center " >
				<h2 class="wow fadeInUp">
					<span class="shape shape-left bg-color-4"></span>
					<span>Nástěnka</span>

					<span class="shape shape-right bg-color-4"></span>
				</h2>
			</div>

				<!-- todo: takhle se to dela -->
		<!-- 		{{{ ordinace.aktualniInformace }}} <br />   -->

			<div class="row ">
				<a href="/pageOnas">
					<div class="col-sm-6 col-lg-4 col-xs-12">
						<div class="media featuresContent wow fadeInUp">
							<span class="media-left bg-color-1">
								<i class="fa fa-graduation-cap bg-color-1" aria-hidden="true"></i>
							</span>
							<div class="media-body">
								<h3 class="media-heading color-1">O nás</h3>
								<p>Poznejte nás lépe! MUDr. Heleny Filová a sestra Martiny Jančová.</p>
							</div>
						</div>
					</div>
				</a>
				<a href="/gallery">
					<div class="col-sm-6 col-lg-4 col-xs-12">
						<div class="media featuresContent wow fadeInUp">
							<span class="media-left bg-color-2">
								<i class="fa fa-picture-o bg-color-2" aria-hidden="true"></i>
							</span>
							<div class="media-body">
								<h3 class="media-heading color-2">Fotogalerie</h3>
								<p>Prostředí ordinace a čekárny si můžete prohlédnout v naší fotogalerii.</p>
							</div>
						</div>
					</div>
				</a>
				<a href="/blog">
					<div class="col-sm-6 col-lg-4 col-xs-12">
						<div class="media featuresContent wow fadeInUp">
							<span class="media-left bg-color-3">
								<i class="fa fa-leaf bg-color-3" aria-hidden="true"></i>
							</span>
							<div class="media-body">
								<h3 class="media-heading color-3">Blog</h3>
								<p>Zajímavé články a doporučení pro nastávající maminky.</p>
							</div>
						</div>
					</div>
				</a>
				<a href="/pageCenik">
					<div class="col-sm-6 col-lg-4 col-xs-12">
						<div class="media featuresContent wow fadeInUp">
							<span class="media-left bg-color-4">
								<i class="fa fa-list bg-color-4" aria-hidden="true"></i>
							</span>
							<div class="media-body">
								<h3 class="media-heading color-4">Ceník služeb</h3>
								<p>Ceník výkonů nehrazených ze zdravotního pojištění.</p>
							</div>
						</div>
					</div>
				</a>
				<a href="/pageOckovani">
					<div class="col-sm-6 col-lg-4 col-xs-12">
						<div class="media featuresContent wow fadeInUp">
							<span class="media-left bg-color-5">
								<i class="fa fa-heart bg-color-5" aria-hidden="true"></i>
							</span>
							<div class="media-body">
								<h3 class="media-heading color-5">Vitamínové vakcíny</h3>
								<p>Nabízíme také doplňující vitamínové vakcíny. Pro více informací nás kontaktujte. </p>
							</div>
						</div>
					</div>
				</a>
				<a href="/pageGdpr">
					<div class="col-sm-6 col-lg-4 col-xs-12">
						<div class="media featuresContent wow fadeInUp">
							<span class="media-left bg-color-6">
								<i class="fa fa-shield bg-color-6" aria-hidden="true"></i>
							</span>
							<div class="media-body">
								<h3 class="media-heading color-6">GDPR</h3>
								<p>Informace pro pacienty o zpracování osobních údájů.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>



	<!-- ====================================
	——— CREATE ACCOUNT MODAL
	===================================== -->
	<div class="modal fade customModal" id="createAccount" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="panel panel-default formPanel">
					<div class="panel-heading bg-color-1 border-color-1">
						<h3 class="panel-title">Create  an account</h3>
					</div>
					<div class="panel-body">
						<form action="#" method="POST" role="form">
							<div class="form-group formField">
								<input type="text" class="form-control" placeholder="Name">
							</div>
							<div class="form-group formField">
								<input type="text" class="form-control" placeholder="User name">
							</div>
							<div class="form-group formField">
								<input type="text" class="form-control" placeholder="Phone">
							</div>
							<div class="form-group formField">
								<input type="password" class="form-control" placeholder="Password">
							</div>
							<div class="form-group formField">
								<input type="password" class="form-control" placeholder="Re-Password">
							</div>
							<div class="form-group formField">
								<input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Register">
							</div>
							<div class="form-group formField">
								<p class="help-block">Allready have an account? <a href="#">Log in</a></p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	document.addEventListener('DOMContentLoaded', function() {
	{
				var d = new Date();
				var weekday = new Array(7);
				weekday[0] = "Dnes se neordinuje.";
				weekday[1] = "{{{ ordinace.pondeliDopoledne }}}";
				weekday[2] = "{{{ ordinace.uteryDopoledne }}}";
				weekday[3] = "{{{ ordinace.stredaDopoledne }}}";
				weekday[4] = "{{{ ordinace.ctvrtekDopoledne }}}";
				weekday[5] = "{{{ ordinace.patekDopoledne }}}";
				weekday[6] = "Dnes se neordinuje.";

				var n = weekday[d.getDay()];
				document.getElementById("dopol").innerHTML = n;
		}
	}, false);

	document.addEventListener('DOMContentLoaded', function() {
	{
				var d = new Date();
				var weekday = new Array(7);
				weekday[0] = "&nbsp";
				weekday[1] = "{{{ ordinace.pondeliOdpoledne }}}";
				weekday[2] = "{{{ ordinace.uteryOdpoledne }}}";
				weekday[3] = "{{{ ordinace.stredaOdpoledne }}}";
				weekday[4] = "{{{ ordinace.ctvrtekOdpoledne }}}";
				weekday[5] = "{{{ ordinace.patekOdpoledne }}}";
				weekday[6] = "&nbsp;";

				var n = weekday[d.getDay()];
				document.getElementById("odpol").innerHTML = n;
		}
	}, false);

	document.addEventListener('DOMContentLoaded', function() {
	{
				var d = new Date();
				var weekday = new Array(7);
				weekday[0] = "<b>NEDĚLE<b>";
				weekday[1] = "<b>PONDĚLÍ<b>";
				weekday[2] = "<b>ÚTERÝ<b>";
				weekday[3] = "<b>STŘEDA<b>";
				weekday[4] = "<b>ČTVRTEK<b>";
				weekday[5] = "<b>PÁTEK<b>";
				weekday[6] = "<b>SOBOTA<b>";

				var n = weekday[d.getDay()];
				document.getElementById("den").innerHTML = n;
		}
	}, false);
	</script>
