<!-- ====================================
	——— PAGE TITLE SECTION
	===================================== -->

    <section class="pageTitleSection">
      <div class="container">
        <div class="pageTitleInfo">
          <h2>Ceník</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Domů</a></li>
            <li class="active">Ceník</li>
          </ol>
        </div>
      </div>
    </section>

	<!-- ====================================
    ——— MAIN SECTION
    ===================================== -->
    <section class="mainContent full-width clearfix courseSingleSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 block">
            <div class="thumbnail thumbnailContent alt">

              <div class="caption border-color-1">
                <h3 class="color-1">{{# each pageCenik}}{{{title}}}{{/each}}</h3>
                <p>{{# each pageCenik}}{{{description}}}{{/each}}</p>
                <div class="table-responsive">
                  <table class="table table-curved">
                    <thead>
                      <tr>
                        <th class="col-sm-2 bg-color-1">Vyšetření</th>
                        <th class="col-sm-2 bg-color-2">Cena</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon1}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena1}}}{{/each}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon2}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena2}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon3}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena3}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon4}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena4}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon5}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena5}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon6}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena6}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon7}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena7}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon8}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena8}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon9}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena9}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon10}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena10}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon11}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena11}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon12}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena12}}}{{/each}}</span>

                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon13}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena13}}}{{/each}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon14}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena14}}}{{/each}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon15}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena15}}}{{/each}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>{{# each pageCenik}}{{{vykon16}}}{{/each}}</td>
                        <td>
                          <span class="color-2">{{# each pageCenik}}{{{cena16}}}{{/each}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="btnArea">
            <p class="btn btn-primary">Platné k 28. 6. 2018</p>
          </div>
        </div>
      </div>
    </section>
